.home-container {
  .pair-table {
    table, th, td {
      border: 1px solid black;
    }

    td {
      padding: 10px;
      margin: 5px;
    }
  }

  .dropzone-style {
    padding-bottom: 10px;
  }
}